*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#clock {
    display: flex;
    justify-content: center;
    padding: 2%;
}
#clock h2{
    margin: 0.2%;
}
body{
    background-color: rgb(33, 33, 33);
    color: white;
    margin-top: 30vh;
}
h1{
    text-align: center;
}
div{
    display: flex;
    justify-content: center;
}